* {
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: #d8e1ee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main-div{
    width: 350px;
    height: 530px;
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px;
}
.qr-code img {
    width: 100%;
    border-radius: 10px;
}
.text-div h1{
    font-size: 25px;
    font-weight: bold;
    margin: 20px 0 10px;
    text-align: center;
}
.text-div p{
    font-size: 18px;
    text-align: center;
    color: rgba(0, 0, 0, 0.516);
    margin-top: 25px;
}