body{
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}
.main-div{
    background-color: #1f1f1f;
    border-radius: 15px;
    width: 325px;
    height: 500px;
    padding: 30px;
    text-align: center;
}
.main-div img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.main-div h1{
    font-size: 25px;
    font-family: sans-serif;
}
.pirveli-p{
    color: rgb(210, 255, 47);
    font-weight: bold;
    margin-top: 10px;
    font-size: 13px;
}
.meore-p{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.813);
}
.links{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.button{
    text-decoration: none;
    background-color: #333333;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    font-family: sans-serif;
    transition: 0.6s;
}
.button:hover{
    background-color: rgb(210, 255, 47);
}
.button:active{
    background-color: rgb(127, 127, 61);
}

