*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right, #4159b9, #1a1a1a);
}
section{
        display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: sticky;
}
header{
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    justify-content: center;
    display: flex;

}
h4{
    font-size: 39px;
}
.sticy{
    font-size: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: sticky;
}
.d1{
position: sticky;
padding-top: 300px;
}
img{
    width: 900px;
}
.d2{
    padding-left: 1300px;
    gap: 40px;
    justify-content: right;
    align-items: end;
    display: flex;
    flex-direction: column;
    width: 50%;
}
main{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 170px;
}