header{
    display: flex;
    background-color: rgb(64, 128, 255);
    gap: 50px;
    align-items: center;
    width: 1400px;
    border-radius: 10px;
    font-family: sans-serif;
}
h1{
    padding-right: 619px;
    padding-left: 20px;
    color:  white;
}
button{
    border: none;
    background-color: rgb(124, 168, 255);
    border-radius: 2px;
    color:  white;
    font-weight: 500;
    font-size: 15px;
}
a{
    color:  white;
    text-decoration: none;
    font-weight: 500;
}