*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background-color:rgb(13, 25, 43);
display: flex;
height: 100vh;
flex-direction: column;
justify-content: center;
align-items: center;
}
.main-div{
background-color: rgb(20,37, 61);
width: 320px;
height: 560px;
border-radius: 20px;
box-shadow: 0.1ox 0.1px 3px black;
}
img{
    width: 290px;
    margin-left: 20px;
    margin-top: 18px;
}
.icon-ethereum{
    width: 15px;
}
.icon-view{
    width: 15px;
}