body{
    justify-content: center;
    align-items: center;
    background-image: url(image2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
h1{
    justify-content: center;
    align-items: center;
    display: flex;
}
h3{
    color: rgb(194, 194, 194);
}
main{
    display: flex;
}
h5{
    color: rgba(238, 238, 238, 0.888);
    background-color: rgba(0, 0, 0, 0.288);
    border-radius: 9px;
}
#fjn{
    position: absolute;
    right: 70px;
    bottom: 245px;
}